<h1>詳細ページ</h1>

<p>
  Title:<br>
  <%= @question.title %>
</p>

<p>
  Name:<br>
  <%= @question.name %>
</p>

<p>
  Body:<br>
  <%= @question.body %>
</p>

<h2>回答</h2>
<%= form_with model:[@question, @question.answers.build] do |f| %>
  <div>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>

  <div>
    <%= f.label :ans_body %><br>
    <%= f.text_area :ans_body %>
  </div>

  <div>
    <%= f.submit %>
  </div>
<% end %>
<%= link_to "top", questions_path %>